$pink: #FFC7C7;

$rem-small: 15px;
$rem-medium: 18px;
$rem-large: 20px;

$home-column-small: 50px;
$home-column-medium: 70px;
$home-column-large: 80px;

$player-width-small: 20%;
$player-width-medium: 30%;
$player-width-large: 56.25%;

$serif: "Electra Display", serif;
$sans: "Grotesque MT", sans-serif;
$sans-scale: .8;